@font-face {
    font-family: 'OpenSans-regular';
    src: url(/src/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}


@font-face {
    font-family: 'Raleway-bold';
    src: url(/src/assets/fonts/Raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-light';
    src: url(/src/assets/fonts/Raleway/static/Raleway-Light.ttf);
}