.main-header {
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: 'Raleway';
    font-weight: 400;
}

.logo {
    padding: 45px;
}

.nav {
    color: white;
    gap: 24px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 100%;
    align-items: center;
}