.productive-content {
    padding-left: 4.5rem;

    h2 {
        font-family: 'Raleway-bold';
        font-size: 1.5rem;
    }

    p {
        font-family: 'OpenSans-Regular';
        font-size: 1rem;
    }

}